body {
  background-color: #232323;
  color: #fff;
}

.container {
  background-color: #333;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

h1 {
  color: #e91e63;
}

.form {
  border: 1px solid #fff;
}

.input-group label {
  color: #ccc;
}

.input-group input[type="text"], 
.input-group select {
  background-color: #444;
  color: #fff;
}

.button {
  background-color: #0d47a1;
}

.button:hover {
  background-color: #1565c0;
}

.weather-card {
  background-color: #444;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.weather-card h2 {
  color: #e91e63;
}

.weather-card p {
  color: #fff;
}

.weather-card img {
  filter: drop-shadow(2px 2px 4px #000);
}
